<nav class="navbar">
  <ul class="navbar-menu">
    <!-- Home Button -->
    <li class="home-item" *ngIf="!isHomePage">
      <button class="home-button" (click)="navigateTo('home')">Home</button>
    </li>

    <li class="dropdown" *ngIf="manageMenus.length > 0">
      <button class="dropdown-button">
        Manage
        <span class="dropdown-icon">▼</span>
      </button>
      <ul class="dropdown-content">
        <li *ngFor="let menu of manageMenus" (click)="navigateTo(menu)">
          {{ formatMenuName(menu) }}
        </li>
      </ul>
    </li>

    <li class="dropdown" *ngIf="submitMenus.length > 0">
      <button class="dropdown-button">
        Submit
        <span class="dropdown-icon">▼</span>
      </button>
      <ul class="dropdown-content">
        <li *ngFor="let menu of submitMenus" (click)="navigateTo(menu)">
          {{ formatMenuName(menu) }}
        </li>
      </ul>
    </li>

    <li class="logout-item">
      <button class="logout-button" (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>
