<p-toast></p-toast>
<app-navbar></app-navbar>
<br />
<div class="manage-user-container">
  <div class="page-title">
    <h1>{{ selectedName }}'s {{ selectedYear }} Technical Skill</h1>
  </div>

  <div class="header-actions">
    <div class="top-row">
      <div *ngIf="currentRoles.includes('HR')" class="user-selection">
        <label for="userSelect">Select User: </label>
        <p-dropdown
          id="userSelect"
          [options]="employees"
          [(ngModel)]="selectedUserId"
          optionLabel="full_name"
          optionValue="id"
          placeholder="{{ selectedName }}"
          (onChange)="fetchEmpTechnicalSkills()"
          appendTo="body"
        ></p-dropdown>
      </div>
      <!-- Assessment Year -->
      <div class="assessment-year-selection">
        <label for="assessmentYear">Assessment Year: </label>
        <p-calendar
          id="assessmentYear"
          [(ngModel)]="selectedAssessmentYear"
          view="year"
          dateFormat="yy"
          (onSelect)="fetchEmpTechnicalSkills()"
          [maxDate]="maxDate"
          placeholder="{{ selectedYear }}"
        ></p-calendar>
      </div>
    </div>
  </div>

  <div class="table-container">
    <!-- Technical Skill Table -->
    <table class="technical-skill-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Skill</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="groupedEmpTechnicalSkills.length > 0; else noData">
          <ng-container
            *ngFor="
              let group of groupedEmpTechnicalSkills;
              trackBy: trackByTechnicalSkillId
            "
          >
            <tr>
              <td [attr.rowspan]="group.skillEntrys.length">
                {{ group.technical_skill_name }}
              </td>
              <td>{{ group.skillEntrys[0]?.skillEntry }}</td>
              <td>{{ getScoreLabel(group.skillEntrys[0]?.entryScore) }}</td>
            </tr>
            <tr
              *ngFor="
                let entry of group.skillEntrys;
                let i = index;
                trackBy: trackByIndex
              "
              [hidden]="i === 0"
            >
              <td>{{ entry.skillEntry }}</td>
              <td>{{ getScoreLabel(entry.entryScore) }}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>

      <ng-template #noData>
        <tr>
          <td colspan="3">
            No data available for the selected assessment year.
          </td>
        </tr>
      </ng-template>
    </table>
    <div class="edit-button-container">
      <button
        pButton
        label="Edit"
        icon="pi pi-pencil"
        class="p-button-primary"
        (click)="openEditDialog()"
        [disabled]="isProcessing || isEditFormLoading"
      ></button>
    </div>
  </div>

  <p-dialog
    header="Edit Employee Technical Skills"
    [(visible)]="displayEditDialog"
    [modal]="true"
    [closable]="true"
    [dismissableMask]="true"
    [style]="{ width: '70vw' }"
    [resizable]="false"
    (onHide)="fetchEmpTechnicalSkills()"
  >
    <form (ngSubmit)="submitEmployeeTechnicalSkill()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="assessment_year">Assessment Year</label>
          <div style="padding: 0.5rem 0">
            <p-calendar
              id="assessment_year"
              [(ngModel)]="assessmentYear"
              name="assessment_year"
              view="year"
              dateFormat="yy"
              [maxDate]="maxDate"
              required
              placeholder="{{ selectedYear }}"
              disabled
            ></p-calendar>
          </div>
        </div>

        <div class="p-field">
          <table class="p-datatable edit-form-table">
            <thead>
              <tr>
                <th>Technical Skill</th>
                <th>Skill Entry</th>
                <th>Score</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="
                  let group of groupedEmpTechnicalSkills;
                  trackBy: trackByTechnicalSkillId
                "
              >
                <!-- Group Row -->
                <tr>
                  <td [attr.rowspan]="group.skillEntrys.length + 1">
                    {{ group.technical_skill_name }}
                  </td>
                  <td colspan="3">
                    <button
                      type="button"
                      (click)="addSkillEntry(group)"
                      pButton
                      label="Add Skill Entry"
                    ></button>
                  </td>
                </tr>
                <!-- Skill Entries -->
                <tr
                  *ngFor="
                    let entry of group.skillEntrys;
                    let i = index;
                    trackBy: trackByIndex
                  "
                >
                  <td>
                    <input
                      [(ngModel)]="entry.skillEntry"
                      name="skillEntry_{{ group.technical_skill_id }}_{{ i }}"
                      pInputText
                      required
                    />
                  </td>
                  <td>
                    <p-dropdown
                      [(ngModel)]="entry.entryScore"
                      name="entryScore_{{ group.technical_skill_id }}_{{ i }}"
                      [options]="scoreOptions"
                      optionLabel="label"
                      optionValue="value"
                      placeholder="Select Score"
                      required
                      appendTo="body"
                    ></p-dropdown>
                  </td>
                  <td>
                    <button
                      type="button"
                      (click)="removeSkillEntry(group, i)"
                      pButton
                      icon="pi pi-trash"
                    ></button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="dialog-footer">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          class="p-button-text"
          label="Cancel"
          [disabled]="isProcessing"
          (click)="onDialogClose()"
        ></button>
        <button
          pButton
          type="submit"
          [label]="isProcessing ? 'Saving...' : 'Save'"
          [disabled]="isProcessing"
          class="p-button-primary"
        >
          <ng-container *ngIf="isProcessing">
            <i class="pi pi-spin pi-spinner"></i>
          </ng-container>
        </button>
      </div>
    </form>
  </p-dialog>
</div>
