<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<div class="manage-user-container">
  <div class="manage-user-container">
    <h1 class="page-title">Employee Technical Skill</h1>
    <div class="header-actions">
      <div class="top-row">
        <div class="search-container">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Search..."
              [(ngModel)]="globalFilterValue"
              (input)="onSearch()"
            />
          </span>
        </div>
        <button
          pButton
          label="Create"
          icon="pi pi-plus"
          class="create-button"
          (click)="openCreateDialog()"
          [disabled]="isProcessing || isEditFormLoading"
        ></button>
      </div>
      <div class="checkbox-container" *ngIf="currentRoles.includes('HR')">
        <p-checkbox
          binary="true"
          [(ngModel)]="showOnlyMine"
          (onChange)="applyFiltersAndPagination()"
          label="Show Only Mine"
        ></p-checkbox>
      </div>
    </div>

    <p-card>
      <p-table
        #dt
        [value]="empTechnicalSkills"
        [lazy]="true"
        [paginator]="true"
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (onLazyLoad)="fetchEmpTechnicalSkills($event)"
        [resizableColumns]="true"
        responsiveLayout="scroll"
        [sortMode]="'single'"
      >
        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="currentRoles.includes('HR')" pSortableColumn="full_name">
              Full Name <p-sortIcon field="full_name"></p-sortIcon>
            </th>
            <th pSortableColumn="technical_skill">
              Technical Skill <p-sortIcon field="technical_skill"></p-sortIcon>
            </th>
            <th pSortableColumn="score">
              Score <p-sortIcon field="score"></p-sortIcon>
            </th>
            <th pSortableColumn="assessment_year">
              Assessment Year <p-sortIcon field="assessment_year"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empTechnicalSkill>
          <tr>
            <td *ngIf="currentRoles.includes('HR')">
              {{ empTechnicalSkill.full_name }}
            </td>
            <td>{{ empTechnicalSkill.technical_skill }}</td>
            <td>{{ empTechnicalSkill.score }}</td>
            <td>{{ empTechnicalSkill.assessment_year }}</td>
            <td>
              <button
                *ngIf="
                  !currentRoles.includes('HR') ||
                  (currentRoles.includes('HR') &&
                    empTechnicalSkill.user_id === currentUserId)
                "
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-pencil'
                "
                class="p-button-rounded p-button-primary"
                (click)="editEmpTechnicalSkill(empTechnicalSkill.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
              <button
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-trash'
                "
                class="p-button-rounded p-button-danger"
                (click)="deleteEmpTechnicalSkill(empTechnicalSkill.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <p-dialog
      header="{{
        mode === 'create'
          ? 'Create Employee TechnicalSkill'
          : 'Edit Employee TechnicalSkill'
      }}"
      [(visible)]="displayEditDialog"
      [modal]="true"
      [closable]="true"
      [dismissableMask]="true"
      [style]="{ width: '50vw' }"
      [resizable]="false"
    >
      <form (ngSubmit)="submitEmployeeTechnicalSkill()" #form="ngForm">
        <div class="p-fluid">
          <!-- Assessment Year -->
          <div class="p-field">
            <label for="assessment_year">Assessment Year</label>
            <p-calendar
              id="assessment_year"
              [(ngModel)]="assessmentYear"
              name="assessment_year"
              view="year"
              dateFormat="yy"
              [disabled]="isProcessing || mode === 'update'"
              [maxDate]="maxDate"
              required
            ></p-calendar>
          </div>
        </div>

        <p-card>
          <!-- Skill Score Table -->
          <p-table
            [value]="
              mode === 'update' ? [currentTechnicalSkill] : technicalSkills
            "
            [responsiveLayout]="'scroll'"
            [resizableColumns]="true"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Technical Skill</th>
                <th>Score</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-skill>
              <tr>
                <td>
                  <input
                    *ngIf="mode === 'update'"
                    id="technical_skill"
                    type="text"
                    pInputText
                    [value]="technicalSkills[0]?.technical_skill"
                    [disabled]="true"
                  />
                  <ng-container *ngIf="mode === 'create'">
                    {{ skill.technical_skill }}
                  </ng-container>
                </td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="skill.score"
                    name="score_{{ skill.id }}"
                    min="0"
                    max="100"
                    pattern="[0-9]{1,3}"
                    placeholder="0-100"
                    pInputText
                    [disabled]="isProcessing"
                    required
                  />
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>

        <div class="dialog-footer">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-text"
            label="Cancel"
            [disabled]="isProcessing"
            (click)="displayEditDialog = false"
          ></button>
          <button
            pButton
            type="submit"
            [label]="
              isProcessing
                ? mode === 'create'
                  ? 'Creating...'
                  : 'Saving...'
                : mode === 'create'
                ? 'Create'
                : 'Save'
            "
            [disabled]="isProcessing"
            class="p-button-primary"
          >
            <ng-container *ngIf="isProcessing">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </form>
    </p-dialog>
  </div>
</div>
